/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #27633F;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='285' height='285' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232A472A' stroke-width='6.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2399A9A9'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
}

/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Completely transparent background */
    color: white;
    padding: 10px 20px; /* Add some padding */
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo img {
    height: 5vh;
}

.nav-links {
    list-style: none;
    margin-right: 10px;
}

    .nav-links li {
        display: inline;
        margin-left: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7); /* White text color */
        font-weight: bold;
        font-size: 1.1rem; /* Slightly larger font size */
        padding: 5px 10px; /* Padding for better touch area */
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
        border-radius: 12px;
    }

        .nav-links a:hover {
            background-color: rgba(0, 51, 34, 0.7); /* Dark green background on hover */
            color: rgba(0, 0, 0, 0.7); /* White text color on hover */
            border-radius: 12px; /* Optional: rounded corners for the hover background */
        }

/* Hero Section Styles */
.hero {
    background: url('hero-home.jpg') center/cover no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    height: 100vh; /* Set the height to viewport height */
    background-attachment: fixed; /* Optional: for a parallax effect */
}


.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero-text p {
    font-size: 1.2em;
}

/* Our Services */
#services {
    background: #333;
    padding: 20px;
    text-align: center;


}

    #services .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
    }

    #services h2 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 20px;
    }

    #services p {
        font-size: 1rem;
        color: #333; /* Dark text for better contrast */
        margin-bottom: 40px;
        font-weight: bold;
        padding: 10px; /* Adds space around the text */
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        display: inline-block; /* Wraps the background tightly around the text */
        border-radius: 5px; /* Rounded corners for the text background */
    }



.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 13px;
}

.service-item {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #ffffff; /* White text for contrast */
    border-radius: 10px;
    overflow: hidden;
    width: 22%; /* Adjusted width for wider cards */
    margin: 10px; /* Space between cards */
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 30px; /* Padding inside the cards */
    background-size: cover; /* Add this line */
    background-position: 42% center; /* Move the image more to the left */
}


  .service-item img {
        display: block; /* Makes the image a block element */
        max-width: 100%; /* Adjusts the image size, you can set your desired percentage */
        height: auto; /* Maintains the aspect ratio of the image */
        margin: 0 auto; /* Centers the image horizontally */
        padding: 20px 0; /* Adds space above and below the image */
    }


    .service-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }

    .service-item h3 {
        font-size: 1.1rem; /* Adjust the font size as needed */
        color: #FFFFFF; /* White text for better contrast */
        margin-bottom: 10px; /* Adjust the bottom margin as needed */
        font-weight: bold; /* Bold text to stand out */
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
        display: inline-block; /* Creates a block around the text */
        padding: 8px 12px; /* Padding around the text for better readability */
        border-radius: 8px; /* Slightly rounded corners for the background */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
        width: calc(100% - 24px); /* Optional: Full width minus padding */
        box-sizing: border-box;
    }

    .service-item p {
        font-size: 1.1rem; /* Adjust the font size as needed */
        color: #FFFFFF; /* White text for better contrast */
        margin-bottom: 10px; /* Adjust the bottom margin as needed */
        font-weight: bold; /* Bold text to stand out */
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
        display: inline-block; /* Creates a block around the text */
        padding: 8px 12px; /* Padding around the text for better readability */
        border-radius: 4px; /* Slightly rounded corners for the background */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
        width: calc(100% - 24px); /* Optional: Full width minus padding */
        box-sizing: border-box; /* Ensures padding doesn't add to the set width */
    }





.cta-button {
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black to match service items */
    color: #ffffff; /* White text for contrast */
    border-radius: 8px; /* Rounded corners to match service items */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    border: none; /* Removing border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding subtle shadow for depth */
}

    .cta-button:hover {
        background-color: #004225; /* Change to a brand color on hover */
        transform: translateY(-3px); /* Slight lift on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
    }


@media (max-width: 1200px) {
    .service-item {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .service-item {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .service-item {
        width: 90%;
    }
}

/* Add any additional media queries as needed for smaller screen sizes */



/* Portfolio Section */
.portfolio {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 325px; /* Adjust height as needed */
    background-color: #333;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='285' height='285' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232A472A' stroke-width='6.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2399A9A9'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
}

.portfolio-items {
    perspective: 1000px; /* For 3D effect */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.portfolio-item {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s, opacity 1s;
    top: 50%;
    opacity: 0.5; /* Adjust for non-active items */
    width: 400px; /* Standard width */
    height: 200px; /* Standard height */
    /* Centering using transform */
    transform: translate(-50%, -50%) translateZ(0px);
}

.portfolio-item.active {
    opacity: 1;
    /* Bring active item forward while maintaining centered position */
    transform: translate(-50%, -50%) translateZ(150px);
}
.click-to-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display:none;
}
.portfolio-item.active .click-to-view {
    display: block; /* Show only for active item */
}

/* Media Wrapper */
.media-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensures the content fits within the bounds */
}
.media-wrapper video,
.media-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Covers the area, can use 'contain' to fit inside */
    }

/* Arrows for navigation */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.left-arrow {
    left: 30px;
}

.right-arrow {
    right: 30px;
}
.left-arrow:hover, .right-arrow:hover {
    background-color: #004225;
}

/* About Section Specific Styles */
.about-section {
    background: linear-gradient(to bottom, #333, #2a2a2a);
    color: #f8f9fa; /* Dark text for contrast */
    padding: 60px 0; /* Ample padding for visual breathing room */
    font-family: 'Arial', sans-serif; /* Consistent with the global style */
}

.about-content {
    display: flex;
    flex-wrap: wrap; /* Allows for responsive wrapping */
    align-items: center; /* Vertically aligns items for a balanced appearance */
    justify-content: space-around; /* Horizontally centers content */
    gap: 30px; /* Space between image and text blocks */
}

.about-image {
    flex: 0 0 auto; /* Do not grow or shrink, but allow basis to be auto */
    max-width: 35%; /* Reducing the max width of the image container */
    margin-left: 5%; /* Push the image to the right */
  
    align-self: center; /* Center the image container vertically */
}

    .about-image img {
        max-width: 100%; /* Ensures the image is fully responsive */
        height: auto;
        border-radius: 12px; /* Slightly rounded corners for a modern look */
        box-shadow: 0 6px 12px rgba(0,0,0,0.1); /* Soft shadow for depth */
    }

.about-text {
    flex: 1; /* Flexible sizing to work with the image block */
    max-width: 55%; /* Maximum width to ensure proper scaling */
    text-align: left; /* Align text to the left for readability */
    padding: 30px; /* Padding inside the card */
    border-radius: 12px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    color: white; /* Dark text for contrast against the light card background */
    margin: 20px; /* Margin around the card */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='285' height='285' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232A472A' stroke-width='6.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2399A9A9'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
}

    .about-text h2 {
        color: white; /* Using the brand color for headings */
        margin-bottom: 24px; /* Space below the heading */
        font-size: 2.2rem; /* Larger font-size for emphasis */
    }

    .about-text p {
        font-size: 1rem; /* Standard font size for body text */
        margin-bottom: 16px; /* Consistent spacing below paragraphs */
        line-height: 1.7; /* Increased line height for readability */
    }

/* Responsive Design for the About Section */
@media (max-width: 992px) {
    .about-content {
        text-align: center; /* Center text for a balanced mobile view */
    }

    .about-image,
    .about-text {
        max-width: 100%; /* Full width for small screens */
    }

        .about-image img {
            margin-bottom: 30px; /* Space between image and text on mobile */
        }
}







/* Subscribe Section Styles */
.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust as needed */
    background-color: #333; /* Example background color */
    color: #fff;
}

    .subscribe h3 {
        font-size: 1.8rem; /* Larger font size for the title */
        
    }

    .subscribe p {
        font-size: 1rem; /* Readable font size */
       
    }

    .subscribe form {
        display: flex;
        justify-content: center;
    }

    .subscribe input[type="email"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 250px; /* Adjusted width */
    }

    .subscribe button {
        padding: 10px 15px;
        background-color: #004225; /* Brand color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .subscribe button:hover {
            background-color: #003614; /* Darker shade for hover */
        }

/* Contact Info Styling */
.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .contact-info p {
        font-size: 1rem;
        color: #fff;
        margin: 0 10px; /* Adjust spacing between phone and email */
    }

    .contact-info a {
        color: white; /* Light green color for links */
        text-decoration: none;
        transition: color 0.3s;
    }

        .contact-info a:hover {
            color: #fff; /* White color on hover */
        }

/* Responsive Design */
@media (max-width: 768px) {
    .subscribe {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-info {
        margin-top: 10px; /* Add space between subscription form and contact info */
        flex-direction: column;
        align-items: flex-start;
    }
}



        /* Modal Styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.9);
        }

.modal-content {
    margin: 5vh auto;
    display: block;
    width: 80%;
    height: 80vh;
    max-width: 700px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

/* Update Testimonial Section Styles */
.testimonials {
    background: #fff;
    text-align: center;
    padding: 20px 0px;
    overflow: hidden;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='285' height='285' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232A472A' stroke-width='6.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2399A9A9'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
}

/* Add Styles for Infinite Scrolling */
.scroller {
    overflow: hidden;
    width: 100%;
}

.scroller__inner {
    display: flex;
    animation: scrollHorizontally 30s linear infinite;
}

@keyframes scrollHorizontally {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Adjust Testimonial Card Styles for New Structure */
.testimonial-card {
    background: #f1f1f1;
    border-radius: 205px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    width: 500px; /* Adjust width as needed */
    flex-shrink: 0; /* Prevents the card from shrinking */
}



/* Adjust Testimonial Card Styles for New Structure */
.testimonial-card {
    background: #f1f1f1;
    border-radius: 15px; /* Keep rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Slightly reduce padding */
    margin: 0 5px; /* Adjust margin for tighter layout */
    display: flex;
    align-items: center;
    width: 400px; /* Adjust width as needed */
    flex-shrink: 0;
}

.testimonial-profile-pic {
    border-radius: 50%;
    width: 50px; /* Slightly reduce image size */
    height: 50px;
    margin-right: 10px; /* Adjust margin */
}

.testimonial-content {
    flex-grow: 1;
    padding-left: 8px; /* Adjust padding */
}

.testimonial-quote {
    font-style: italic;
    color: #333;
    margin-bottom: 5px; /* Adjust bottom margin */
    line-height: 1.3; /* Adjust line height */
    font-size: 0.9rem; /* Slightly reduce font size */
}

.testimonial-author {
    font-weight: bold;
    margin-top: 5px;
}

.testimonial-rating {
    color: #f5a623;
    margin-top: 5px;
}

.testimonial-source img {
    height: 20px;
    margin-right: 5px;
}

.testimonial-date {
    color: #777;
    font-size: 0.85rem;
}
.source-icon {
    margin-bottom: -5px;
}
.hamburger-icon{
    display: none;
    cursor: pointer;
}
.hamburger-icon span {
    display: block;
    width: 25px; /* Adjust size as needed */
    height: 3px; /* Adjust thickness as needed */
    background-color: #333; /* Adjust color as needed */
    margin: 5px 0; /* Adjust spacing as needed */
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between; /* Adjust to space-between */
        align-items: center;
        flex-direction: row; /* Change to row for horizontal alignment */
    }

    .nav-links {
        display: none; /* Hide the links initially */
        flex-direction: column;
        position: absolute; /* Position the links absolutely */
        right: 10px; /* Position to the right of the hamburger icon */
        top: 50px; /* Position below the navbar */
        background-color: rgba(0, 51, 34, 0.7); /* Add a background color */
        border-radius: 15px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-icon {
        display: block;
    }

    /* Adjustments for Logo and Navigation Links */
    .logo img {
        height: 4vh; /* Adjust logo size for mobile */
    }

    .nav-links li {
        margin: 6px 0;
    }


    .portfolio-items {
        flex-wrap: nowrap;
    }

    .portfolio-item {
        position: absolute;
        width: 300px; /* Maintain the same size */
        height: 200px;
    }

    .subscribe input[type="email"] {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1em;
    }

    .testimonial-card {
        width: 90%;
    }
    .about-image img {
        max-width: 300px; /* Smaller max-width for mobile devices */
        margin: 0 auto; /* Center the image */
    }
}

/* Continuous scrolling for testimonials */
.testimonial-carousel {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel-slides {
    display: flex;
    animation: scrollTestimonials 30s linear infinite;
}

.testimonial-card {
    display: inline-block;
    margin-right: 20px;
}

@keyframes scrollTestimonials {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
